body{
    font-family: Arial, Helvetica, sans-serif;
}

.o-img-container {

    background-color: darkslateblue;
    width: 100%;
    

}
.o-img 
{
    width: 20%;
}

.o-info-container
{
    font-size: 20px;
}

.o-tittle
{               
    font-size: 1em;

}

.o-subtittle
{
    font-size: 0.8em;

}
.o-paragraph
{
    font-size: 0.6em;
    color: blue;

}

.o-hobbie-container
{
    width: 20%;
    margin: 1rem;
    padding: 2rem 1rem;
    background-color: brown;
    color: cornsilk ;
}
#hobbieContainer2 
{
    background-color: darkgoldenrod ;

}